@import "./variables";
@import "./placeholders";
@import "./mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

img {
  border-style: none;
}

li {
  list-style: none;
}

body {
  color: var(--font-color);
  font-family: var(--font-family);
  @include grid(
    $rows: repeat(auto-fill, 10vh),
    $columns: repeat(9, auto),
    $row-gap: 20px,
    $column-gap: 10px
  );
}

h1 {
  font-size: $h1-size-mobile;
  text-align: center;
}

h2 {
  font-size: $section-title-size-mobile;
}


/*
  *
      Mobile part
  *
*/

// Header

header {
  grid-column:  1/10;
  grid-row: 1/6;
}

.header-intro-bloc {
  position: relative;
  @include flexbox(
    $direction:column,
    $justify: center,
    $align: center,
  )
}

.h1-bloc {
  width: 100%;
  height: 200px;
  @include flexbox(
    $direction: row,
    $justify: center,
    $align: center
  )
}

.img-bloc {
  display: none;
}


// Main

main {
  grid-column: 2/9;
  grid-row: 6/11;
  margin: auto;
  @include flexbox(
    $direction: column-reverse,
    $justify: space-evenly,
    $align: flex-start
  )
}

section {
  width: 80%;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @include flexbox(
    $direction: column,
    $justify: space-evenly,
    $align: start,
  )
}

.A-propos {
  width: 80%;
  min-height: 700px;
  height: 70vh;
}

.experiences {
  height: 70vh;
}


// Footer

footer {
  grid-column: 1/10;
  grid-row: 12/14;
  position: sticky;
}

.coordonnees {
  height: 150px;
  width: 80%;
  margin: auto;

  ul {
    height: 80%;
    @include flexbox(
      $direction: column,
      $justify: space-evenly,
      $align: center,
    )
  }

  a, p {
    color: var(--secondary-color);
  }
}


/*
  *
      Tablet part
  *
*/

// Header

@include from(sm) {
  .header-intro-bloc {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 50vh;
    min-height: 450px;
  }

  .h1-bloc {
    height: 30vh;
    max-height: 200px;
    max-width: 350px;
  }

  .img-bloc {
    position: relative;
    display: block;
    max-width: 250px;
    width: 45%;
    max-height: 300px;
    height: 50vw;
  }

  .img-profile {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }


// Main

  .A-propos {
    min-height: 600px;
    max-height: 100vh;
  }

  .a-propos-bloc {
    max-width: 450px;
    width: auto;
  }

  .experiences {
    max-width: 350px;
    width: 80%;
    height: 80vh;
  }
}


/*
  *
      Big Tablet part
  *
*/

@include from(md) {

  .header-intro-bloc {
    flex-direction: row;
  }

  h1 {
    font-size: $h1-size-tablet;
  }

  h2 {
    font-size: $section-title-size-tablet;
  }

  .coordonnees {
    ul {
      flex-direction: row;
      justify-content: center;
      align-items: end;
      height: 70%;
    }
    p, a {
      margin: 0 20px;
      font-size: 16px;
    }
  }

}


/*
  *
      Desktop part
  *
*/

@include from(lg) {

  // Header

  header {
    grid-column: 4/7;
  }

  .header-intro-bloc {
    min-height: unset;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 60vh;
  }

  .img-bloc, .h1-bloc {
    width: unset;
    max-width: unset;
    max-height: unset;
  }

  .img-bloc {
    height: unset;
  }

  .img-profile {
    width: 309px;
    height: 391px;
  }

  .h1-bloc {
    max-height: 300px;
    margin-bottom: 40px;
  }

  h1 {
    display: block;
    width: 300px;
    text-align: left;
  }

  // Main

  main {
    flex-direction: row;
    grid-column: 4/7;
    width: 100%;
  }

  .experiences, .A-propos {
    height: 100vh;
    margin-top: 60px;
    justify-content: flex-start;
    max-width: 1000px;
    width: 40%;
  }

  .experiences {
    padding: 0 0 117px;
    margin-left: 130px;
    margin-right: unset;
  }

  .experiences-bloc {
    margin: 40px 0;
  }

  .competences-bloc {
    display: flex;
  }

  .hard-skills {
    width: 100%;
  }

  .skill {
    font-size: 10px;
  }

  .A-propos h2 {
    margin-bottom: 40px;
  }

  .a-propos-bloc {
    margin-bottom: 20px;
  }
}
