:root {
  --bg-color: white;
  --font-color: #202020;
  --secondary-color: #E4DCDC;
  --footer-ft-color: #C1A8A8;
  --font-family: "Work Sans";
}

:root {
  --bg-color: white;
  --font-color: #202020;
  --secondary-color: #E4DCDC;
  --footer-ft-color: #C1A8A8;
  --font-family: "Work Sans";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

img {
  border-style: none;
}

li {
  list-style: none;
}

body {
  color: var(--font-color);
  font-family: var(--font-family);
  display: grid;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 10vh);
  grid-template-columns: repeat(9, auto);
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.date {
  font-size: 16px;
  margin: 10px 0;
}

.experiences h2,
.A-propos h2 {
  margin-bottom: 20px;
}

.experiences-bloc {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 30px;
}

.competences-bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.hard-skills {
  height: 26px;
  margin: 10px 10px 10px 0;
  background-color: var(--secondary-color);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.skill {
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 10px;
}

/*
  *
      Mobile part
  *
*/
header {
  grid-column: 1/10;
  grid-row: 1/6;
}

.header-intro-bloc {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.h1-bloc {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.img-bloc {
  display: none;
}

main {
  grid-column: 2/9;
  grid-row: 6/11;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

section {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: start;
}

.A-propos {
  width: 80%;
  margin-bottom: 60px;
}

.A-propos p {
  font-size: 16px;
}

footer {
  grid-column: 1/10;
  grid-row: 12/14;
  position: sticky;
}

.coordonnees {
  height: 150px;
  width: 80%;
  margin: auto;
}
.coordonnees ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.coordonnees a,
.coordonnees p {
  color: var(--footer-ft-color);
  font-weight: 600;
}

/*
  *
      Tablet part
  *
*/
@media only screen and (min-width: 427px) {
  .header-intro-bloc {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 50vh;
    min-height: 450px;
  }
  .h1-bloc {
    height: 30vh;
    max-height: 200px;
    max-width: 350px;
  }
  .img-bloc {
    position: relative;
    display: block;
    max-width: 250px;
    width: 45%;
    max-height: 300px;
    height: 50vw;
  }
  .img-profile {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 177px;
  }
  .A-propos {
    justify-content: center;
  }
  .A-propos h2 {
    margin-bottom: 20px;
    align-self: baseline;
  }
  .a-propos-bloc {
    max-width: 450px;
    width: auto;
  }
  .experiences {
    max-width: 450px;
    width: 80%;
  }
  .competences-bloc {
    justify-content: flex-start;
  }
}
/*
  *
      Big Tablet part
  *
*/
@media only screen and (min-width: 768px) {
  .header-intro-bloc {
    flex-direction: row;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 40px;
  }
  .A-propos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .A-propos h2 {
    flex-basis: 450px;
  }
  .A-propos p {
    line-height: 27px;
  }
  .competences-bloc {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .coordonnees ul {
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 70%;
  }
  .coordonnees p,
  .coordonnees a {
    margin: 0 20px;
    font-size: 16px;
  }
}
/*
  *
      Desktop part
  *
*/
@media only screen and (min-width: 1025px) {
  header {
    grid-column: 4/7;
    margin-bottom: 40px;
  }
  .header-intro-bloc {
    min-height: unset;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    height: 65vh;
    max-height: 530px;
  }
  .img-bloc,
  .h1-bloc {
    max-width: unset;
    max-height: unset;
  }
  .img-bloc {
    position: relative;
    display: flex;
    flex-basis: 45%;
    padding-right: 30px;
    justify-content: flex-end;
  }
  .img-bloc,
  .img-profile {
    width: 309px;
    height: 391px;
  }
  .img-profile {
    position: absolute;
    top: 0;
  }
  .h1-bloc {
    width: unset;
    height: unset;
    margin-bottom: 40px;
    flex-basis: 50%;
    justify-content: flex-start;
  }
  h1 {
    display: block;
    font-size: 110px;
    max-width: 500px;
    max-height: 350px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 40px;
    line-height: 110px;
    text-align: left;
  }
  h2 {
    font-size: 64px;
  }
  main {
    flex-direction: row;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    grid-column: 4/7;
    width: 100%;
  }
  section {
    margin: unset;
  }
  .experiences,
  .A-propos {
    justify-content: flex-start;
  }
  .experiences {
    margin-right: 30px;
    max-width: 400px;
  }
  .A-propos {
    max-width: 381px;
    margin-bottom: unset;
  }
  .experiences-bloc {
    margin: 20px 0;
  }
  .skill {
    font-size: 10px;
  }
  .A-propos h2 {
    margin-bottom: 40px;
  }
  .a-propos-bloc {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 28px;
  }
}/*# sourceMappingURL=index.css.map */